
= simple_form_for @team do |f| 
  = f.error_messages

  = f.input :name, :label => 'Team Name'

  -if current_user.webmaster?
    = f.association :league, :include_blank => false
    = f.association :manager
    
  = f.input :team_page_content,  :input_html => { :class => 'mceEditor' }, :as => :text, :label => 'Enter the content for this teams homepage'
  
  = f.button :submit, :value => 'Save Team Information'
