<% title "Rosters" %>

<table class="admin-tbl" cellspacing="0">
  <tr>
		<th width="55">Team</th>
		<th width="75">Name</th>
    <th width="135">Jersey</th>
		<th width="135">Position</th>
		<th colspan="2">Manage</th>
  </tr>
  <% for roster in @rosters %>
    <tr>
			<td><%= roster.team.name %></td>
      <td><%= roster.full_name %></td>
			<td><%= roster.jersey_number %></td>
			<td><%= roster.position %></td>

			<td><%= button_to "E", edit_roster_path(roster.id), :method => :get %></td>
			<td><%= button_to "X", roster_path(roster.id), :method => :delete, :confirm => "Are you sure?" %></td>

    </tr>
  <% end %>
</table>
<%= paginate @rosters %>