<% title @team.name %>

<!-- INSIDE ARTICLE TEMPLATE -->
<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="grid_17">
	
	<h1><%= @team.name  %> Calendar</h1>
	
	<div id="team-calendar">
		<h2 id="month">
			<%= link_to "<", :month => (@date.beginning_of_month - 1).strftime("%Y-%m")%>
			<%=h @date.strftime("%B %Y")%>
			<%= link_to ">", :month => (@date.end_of_month + 1).strftime("%Y-%m")%>
		</h2>
		<%= calendar_for(@full_schedule, :year => @date.year, :month => @date.month) do |calendar| %>
			<%= calendar.head('SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT') %>
			<%= calendar.day(:day_method => :scheduled_date) do |date, full_schedule| %>
				<%= date.day %>
				<ul>
					<% for sch in full_schedule %>
						<li>
						
						<% if sch.is_game? %>
							GAME<br>
						<% else %>
							PRACT<br>
						<% end %>
						
						<% if @team.id == sch.home_team_id%>
							<%= sch.awayteam.name %>
						<% else %>
							<%= sch.hometeam.name %>
						<% end %>
						<br>
						<strong><%= sch.scheduled_time %></strong><br>
						<%= sch.arena %>
						</li>
					<% end %>
				</ul>
				
				<% for teamsch in @full_team_schedule %>
					<% if teamsch.scheduled_calendar == (date.month.to_s + '-' + date.day.to_s) %> 
						<li>
							<%= teamsch.event_title %>
							<br> at <%= teamsch.scheduled_time %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>

</div>

<div class="grid_5 article-side">
	&raquo <%= link_to "Team Page", team_path %><br/>
	&raquo <%= link_to "League Schedule", team_full_schedule_path %><br/>
	&raquo <%= link_to "Team Roster", team_roster_path %><br/>
	<br/>
	
	<h4>LEAGUE SCHEDULE</h4>
	<hr>
	<% if @league_schedule.nil? %>
		<p>No Upcoming Scheduled Games</p>
	<% else %>
		<% for lsch in @league_schedule %>
		
			<% if lsch.is_game? %>
				<div class="small-schedule">
					<span class="dark"><strong><%= reg_short_date(lsch.scheduled_date)%></strong></span><br/>
					<span class="dark">GAME </span> at <span class="dark"><%= lsch.scheduled_time %></span><br/>
					<%= lsch.hometeam.name %> vs <%= lsch.awayteam.name %><br/>
					<%= lsch.arena %> Arena
				</div>
			<% else %>
				<div class="small-schedule">
					<span class="dark"><strong><%= reg_short_date(lsch.scheduled_date)%></strong></span><br/>
					<span class="dark">PRACT </span> at <span class="dark"><%= lsch.scheduled_time %></span><br/>
					<%= lsch.hometeam.name %> with <%= lsch.awayteam.name %><br/>
					<%= lsch.arena %> Arena
				</div>
			<% end %>
		
	  <% end %>
	<% end %>
	
	<br/>
	<h4>TEAM SCHEDULE</h4>
	<hr>
	<% if @team_schedule.nil? %>
		<p>No Upcoming Team Scheduled Events</p>
	<% else %>
		<% for tsch in @team_schedule %>
			<div class="small-schedule">
				<span class="dark"><strong><%= reg_short_date(tsch.event_date)%></strong></span><br/>
				<span class="dark"><strong><%= tsch.event_title %></strong></span><br/>
				at <span class="dark"><%= tsch.scheduled_time %></span><br/>
				<%= link_to "View Details", team_schedule_path(tsch) %>
			</div>
		<% end %>
	<% end %>


</div>

<div class="grid_1">&nbsp;</div><!--spacer-->
<div class="clear">&nbsp;</div>
