<% title "Update Team Info" %>

<table class="admin-tbl" cellspacing="0">
  <tr>
    <th width="240">Name</th>
    <th width="120">League</th>
    <th width="150">Manager</th>
		<th colspan="2">Manage</th>
  </tr>
  <% for team in @teams %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.league.name %></td>

			<td><%= button_to "E", edit_team_path(team.id), :method => :get %></td>
			<td>
			<% if current_user.webmaster? %>
				<%= button_to "X", team_path(team.id), :method => :delete, :confirm => "Are you sure?" %>
			<% end %>
			<% if current_user.director? %>
				<%= button_to "Rosters", team_rosters_admin_path(team.id), :method => :delete, :confirm => "Are you sure?" %>
			<% end %>
			</td>

    </tr>
  <% end %>
</table>

<% if current_user.webmaster? %>
	<p><%= link_to "New Team", new_team_path %></p>
<% end %>
