<% title "Leagues" %>

<table class="admin-tbl" cellspacing="0">
  <tr>
    <th width="250">Name</th>
    <th width="100">Season</th>
    <th width="75">HL?</th>
		<th colspan="2">Manage</th>
  </tr>
  <% for league in @leagues %>
    <tr>
      <td><%= league.name %></td>
      <td><%= league.is_house_league %></td>
      <td><%= link_to "Edit", edit_league_path(league) %></td>
      <td><%= link_to "Destroy", league, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New League", new_league_path %></p>
