<%= form_for @article, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :article_title %><br />
    <%= f.text_field :article_title %>
  </p>
	<p>
		<%= f.label :article_image %><br/>
		<%= f.select( "article_image", %w[default.jpg empty-net.jpg hockey-parents.jpg important.jpg noha.jpg relax.jpg updates.jpg greyhounds.jpg]) %>
	</p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :article_content %><br />
    <%= f.text_area :article_content, :class => 'mceEditor' %>
  </p>

	<div class="clear">&nbsp;</div>
	<div class="file-upload">
		<div style="float:left;width:500px;">
		<h2>Upload Media Files (PDF, JPG, DOC)</h2>
		<% f.fields_for :assets do |assets_field| %>
			<% if assets_field.object.new_record? %>
			
					<%= assets_field.file_field :asset %>

			<% end %>
		<% end %>
		</div>
		<div style="float:left;width:400px">
		<h2>Associated Files</h2>
		<% f.fields_for :assets do |assets_field| %>
			<% unless assets_field.object.new_record? %>

					<table>
					<tr>
						<td width="300"><%= link_to assets_field.object.asset_file_name, assets_field.object.asset.url %></td>
						<td width="120" align="right"><%= assets_field.check_box :_destroy %> Remove</td>
					</tr>
					</table>

			<% end %>
		<% end %>
		</div>
	</div>
	<div class="clear">&nbsp;</div>

  <p><%= f.submit %></p>
<% end %>


