<% if current_user.executive? %>
	<% title "SPW Executive Dashboard" %>

	<table border="0" class="dashboard" cellpadding="8">
	<tr>
		<td width="100"><img src="/images/admin/ico-standings.png"></td>
		<td width="300" valign="top">
			<h3>Manage Pages</h3>
			<p>Allows you to update Executive and General Information</p>
			<p><%= link_to "Click To Manage", page_admin_path %></p>
		</td>
		<td width="100"></td>
		<td width="300" valign="top">
		</td>
	</tr>
	</table>
<% end %>

<% if current_user.manager? %>
	<% title "Team Manager Dashboard" %>

	<table border="0" class="dashboard" cellpadding="8">
	<tr>
		<td width="100"><img src="/images/admin/ico-helmet.png"></td>
		<td width="300" valign="top">
			<h3>Update Team Page</h3>
			<p>This is where you can update your Team Page information.</p>
			<p><%= link_to "Click To Manage", edit_team_path(@team) %></p>
		</td>
		<td width="100"><img src="/images/admin/ico-standings.png"></td>
		<td width="300" valign="top">
			<h3>Manage Team Schedule</h3>
			<p>Holding a team party or an extra practice? You can schedule your team functions here.<br/>
				Note: This will automatically be included into your team schedule.</p>
			<p><%= link_to "Click To Manage", team_schedules_path(@team) %></p>
		</td>
	</tr>
	<tr>
		<td width="100"><img src="/images/admin/ico-jersey.png"></td>
		<td width="300" valign="top">
			<h3>Update Team Rosters</h3>
			<p>This is where you can update your Team Roster information.</p>
			<p><%= link_to "Click To Manage", team_rosters_admin_path(@team) %></p>
		</td>
		<td width="100"></td>
		<td width="300" valign="top">
		</td>
	</tr>
	</table>
<% end %>

<% if current_user.director? %>
	<% title "League Director Dashboard" %>
	<table border="0" class="dashboard" cellpadding="8">
	<tr>
		<td width="100"><img src="/images/admin/ico-scoreboard.png"></td>
		<td width="300" valign="top">
			<h3>Update League Standings</h3>
			<p>Update any games that have been already played.
				<br/><%= link_to "Click To Manage", admin_league_standings_path(current_user.league), :method => :get %></p>
		</td>
		<td width="100"><img src="/images/admin/ico-standings.png"></td>
		<td width="300" valign="top">
			<h3>Manage League Schedule</h3>
			<p>Do you need to make changes to your schedule?
				<br/><%= link_to "Click To Manage", schedule_director_admin_path(current_user.league) %></p>
		</td>
	</tr>
	
	<tr>
		<td width="100"><img src="/images/admin/ico-helmet.png"></td>
		<td width="300">
			<h3>Update League Page</h3>
			<p>This is the main homepage for your division. General news and updates.
				<br/><%= link_to "Click To Manage", edit_league_path(current_user.league) %></p>
		</td>
		<td width="100"><img src="/images/admin/ico-jersey.png"></td>
		<td width="300">
			<h3>Manage Teams Info</h3>
			<p>This is where you can update team names, team rosters, coaches, trainers and managers.
				<br/><%= link_to "Click To Manage", league_teams_path(current_user.league) %> </p>
		</td>
	</tr>
	</table>
	
<% end %>

<% if current_user.webmaster? %>

	<% title "Webmaster Dashboard" %>
	
	<table border="0" class="dashboard" cellpadding="8" style="font-size:1.3em;">
	<tr>
		<td width="400"><%= link_to "Website Content Pages", page_admin_path %></td>
		<td width="400"><%= link_to "News/Updates Articles", article_admin_path %></td>
	</tr>
	<tr>
		<td width="400"><%= link_to "League Manager", league_admin_path %></td>
		<td width="400"><%= link_to "League Schedules", schedule_admin_path %></td>
	</tr>
	<tr>
		<td width="400"><%= link_to "All Teams", teams_path %></td>
		<td width="400"><%= link_to "User Accounts", users_path %></td>
	</tr>
	<tr>
		<td width="400"><%= link_to "Seasons", seasons_path %></td>
		<td width="400"></td>
	</tr>
	</table>
	<br><br>

<% end %>

<table border="0" class="dashboard" cellpadding="8">
<tr>
	<td width="100"><img src="/images/lock.png" width="90"></td>
	<td width="300" valign="top">
		<h3>Change Password</h3>
		<p>Need to change your password? Do so here:
			<br/><%= link_to "Change Password", edit_password_path(current_user), :method => :get %></p>
	</td>
</tr>
</table>