= simple_form_for @user do |f| 
  = f.error_messages

  = f.input :name
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :role_type, :include_blank => false, :label => 'User Type', :collection => [['Webmaster', 'God'], ['League Director', 'Director'], ['Team Manager', 'Manager'], ['Executive', 'Executive']]

  = f.button :submit
