%ul
  %li= link_to "Dashboard", admin_index_path

  -if current_user.webmaster?    
    %li= link_to "Leagues", league_admin_path
    %li= link_to "Teams", teams_path
    %li= link_to "Rosters", rosters_admin_path
    %li= link_to "Schedules", schedule_admin_path
    %li= link_to "User Accounts", users_path

  -if current_user.manager?
    %li= link_to "Team Page", edit_team_path(@team)
    %li= link_to "Team Schedule", team_schedules_path(@schedule)
    %li= link_to "Team Roster", team_rosters_admin_path(@team)

  -if current_user.director?
    %li= link_to "League Standings", admin_league_standings_path(current_user.league)
    %li= link_to "League Schedule", schedule_director_admin_path(current_user.league)
    %li= link_to "League Page", edit_league_path(current_user.league)
    %li= link_to "Teams", league_teams_path(current_user.league)

  - if current_user.executive?
    %li= link_to "Manage Pages", page_admin_path

  %li= link_to "Public", root_path