<div class="container_24" id="menu">
	
	<ul>
		<li><%= link_to  "Home", home_index_path %></li>
		<li><%= link_to  "Leagues", leagues_path %></li>
		<li><%= link_to  "Schedules", schedules_path %></li>
		<li><%= link_to  "Tournaments", tournaments_path %></li>
		<li><%= link_to  "News", articles_path %></li>
		<li><%= link_to  "Executive", pages_path %></li>
		<li><%= link_to  "Information", pages_path, :class => 'last' %></li>
	</ul>
	
</div>
<div class="clear">&nbsp;</div>
<div class="container_24" id="menu_shadow"></div>
<div class="clear">&nbsp;</div>