<div class="container_24" id="menu">
	
	<ul>
		<li><%= link_to  "Home", new_user_session_path %></li>
		<li><%= link_to  "Leagues", new_user_session_path %></li>
		<li><%= link_to  "Schedules", new_user_session_path %></li>
		<li><%= link_to  "Tournaments", new_user_session_path %></li>
		<li><%= link_to  "News", new_user_session_path %></li>
		<li><%= link_to  "Executive", new_user_session_path %></li>
		<li><%= link_to  "Information", new_user_session_path, :class => 'last' %></li>
	</ul>
	
</div>
<div class="clear">&nbsp;</div>
<div class="container_24" id="menu_shadow"></div>
<div class="clear">&nbsp;</div>