<% title "Standings" %>

<p>
  <strong>League:</strong>
  <%= @standings.league_id %>
</p>
<p>
  <strong>Game:</strong>
  <%= @standings.game_id %>
</p>
<p>
  <strong>Home Team Score:</strong>
  <%= @standings.home_team_score %>
</p>
<p>
  <strong>Away Team Score:</strong>
  <%= @standings.away_team_score %>
</p>

<p>
  <%= link_to "Edit", edit_standings_path(@standings) %> |
  <%= link_to "Destroy", @standings, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", standings_path %>
</p>
