<% title "Log Into Your Account" %>

<div class="signed_in">
	<span class="light">Are you a Manager or Director?</span><br/>
	<span class="user">LOGIN INTO YOUR ACCOUNT</span><br/> 
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <p><%= f.label :username %><br />
	  <%= f.text_field :username, :style => 'padding:4px;color:#666;width:225px;' %></p>

	  <p><%= f.label :password %><br />
	  <%= f.password_field :password, :style => 'padding:4px;color:#666;width:225px;' %></p>

	  <p><%= f.submit "Login" %></p>
	<% end %>
	
</div>

