<!DOCTYPE html> 
<html> 
  <head> 
    <title><%= yield(:title) || "Soo Peewee Hockey League" %></title> 
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'> 

		<%= stylesheet_link_tag "960_24_col.css", "reset.css", "text.css", "application.css.css" %>
		
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
		<%= javascript_include_tag :defaults %>
		
		<%= csrf_meta_tag %>
    <%= yield(:head) %>

		<script language="javascript">
			$('featured_news').html('<div>' + $('sometag').html() + '</div>');
    </script>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-127209-7']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		
  </head> 
  <body> 
    <div id='container'> 
      
			<%= render 'shared/public_topbar' %>
			<%- flash.each do |name, msg| -%>
				<div class="container_24">
			  	<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				</div>
			<%- end -%>
			<%= render 'shared/public_menu' %>
			
			<div id="content-wrapper" class="container_24">
				<%= yield %>
      </div>
			<div class="clear">&nbsp;</div>

			<div class="container_24">
				<%= render 'shared/public_footer' %>
			</div>
			<div class="clear">&nbsp;</div>
			
    </div> 
		
  </body> 
</html>

